.App {
  margin: 10px;
  font-family: "DM Sans", sans-serif;
  width: 800px;
  margin: 0 auto;
}
.body {
  border: 4px solid rgb(0, 0, 0);
}
h1,
h2 {
  font-size: 2.75em;
}
button {
  border: none;
  background: none;
  border-radius: 25px;
  padding: 5px 10px;

  transition: all 200ms ease;
}
button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.temp-buttons {
  font-size: 1em;
  font-weight: 500;
  border: 3px solid black;
  padding: 0px 10px;
  margin: 5px 10px;
}

.icon {
  font-size: 6.5em;
}
